<section class="position-relative overflow-hidden pb-0 pb-sm-5">

  <figure class="ms-5 position-absolute top-0 start-0">
    <svg width="29px" height="29px">
      <path class="fill-orange opacity-4" d="M29.004,14.502 C29.004,22.512 22.511,29.004 14.502,29.004 C6.492,29.004 -0.001,22.512 -0.001,14.502 C-0.001,6.492 6.492,-0.001 14.502,-0.001 C22.511,-0.001 29.004,6.492 29.004,14.502 Z"></path>
    </svg>
  </figure>

  <div class="container">
    {% for item in  section.left_half_edit_img %}
      <div class="row align-items-center justify-content-xl-between g-4 g-md-5">

        <div class="col-lg-7 col-xl-5 position-relative z-index-1 text-center text-lg-start mb-2 mb-md-9 mb-xl-0">

          {% if item.service_headline is not empty %}
            <h6 class="mb-3 font-base bg-primary bg-opacity-10 text-primary py-2 px-4 rounded-2 d-inline-block">
              {{ item.service_headline }}
            </h6>
          {% endif %}

          <h1 class="mb-4 display-7">
            {{ item.service_subheadline }}
            <br/>
            <span class="position-relative d-inline-block">
              {{ item.service_preamble }}
              <span class="position-absolute top-50 start-50 translate-middle z-index-n1 d-none d-sm-block">
                <svg width="387.7px" height="119.7px">
                  <path class="fill-warning" d="M382.7,51.4c-0.2-1-0.4-2-0.7-3c-0.2-0.6-0.5-1.2-0.9-1.7c-0.6-0.9-1.5-1.7-2.9-2.2l0.1-0.1l-0.1,0.1 c0.2-0.9-0.4-1.2-1.2-1.3c-0.1,0-0.2,0-0.4-0.1c-0.2-0.2-0.5-0.5-0.7-0.7c0-0.7-0.1-1.3-0.6-1.7c-0.3-0.2-0.7-0.4-1.3-0.5 c0-0.7-0.2-1.1-0.6-1.4c-0.3-0.2-0.7-0.4-1.2-0.5c-0.2,0-0.3-0.1-0.5-0.1c-1.1-0.9-2.2-1.8-3.4-2.7c0-0.1,0-0.2-0.1-0.3 c-0.1-0.2-0.3-0.4-0.7-0.4c-2.1-1.2-4.2-2.3-6.2-3.5c-14.1-8.5-31.1-10.2-46.8-14.7c-9.6-2.7-19.8-3.4-29.8-4.7 c-13.3-1.8-26.7-1.5-40-2.5c-5.4-0.4-10.8-0.7-16.1-0.7c-2.8,0-5.7-0.6-8.3-0.2c-5.8,0.9-11.6,1.5-17.4,1.8c-2,0.1-3.9,0.2-5.9,0.2 c-0.2,0-0.3,0-0.5,0.1c-0.2,0-0.3,0-0.5,0.1c-2.1,0-4.3,0.1-6.4,0.2c-2.1,0.1-4.3,0.1-6.4-0.1c-13-0.8-25.3,1.7-37.8,3.5 c-6,0.9-11.9,2.2-17.9,3.5c-6.5,1.4-13.3,1.7-19.8,3.3c-9.6,2.3-19.3,4.4-29.1,6c-9.5,1.6-18.9,3.9-28.2,6.4 c-8.5,2.3-16.2,5.9-23.8,9.7c-4.4,2.2-9,4.1-12.4,7.6c-4.1,4.3-6.6,9.4-10,14.1C1.9,68,2.5,70.8,4.6,74c4.7,7.3,12.9,10.3,21.3,13.4 c4.1,1.5,8.6,2.4,12.5,4.3c5.5,2.6,10.9,5.4,16.7,7.6c12.3,4.6,25.1,8,38.1,10.5c7.1,1.4,14.5,2.1,21.8,2.6 c11.2,0.8,22.5,2.5,33.8,1.9c0.8,0.7,1.5,0.7,2.1-0.1c1.6-0.7,3.4,0.2,5.1-0.1c8.8-1.5,17.8-0.8,26.8-0.6c5,0.1,10.1,0.8,15.1,0.6 c9.4-0.4,18.8-1,28.2-1.9c12.9-1.2,25.7-2.4,38.2-5.3c0.3,0.4,0.5,0.3,0.6-0.1c1.1-0.2,2.3-0.4,3.4-0.6c0.3,0.3,0.5,0.2,0.7-0.1 c1.2-0.3,2.4-0.6,3.7-0.8c7.9-0.8,15.8-1.4,23.6-2.4c4.9-0.6,9.7-1.8,14.5-2.8c0.4,0.2,0.8,0.3,1.1,0.2c0.2,0,0.3-0.1,0.4-0.2 c0.1-0.1,0.1-0.1,0.2-0.2s0.1-0.2,0.2-0.2c0.5-0.1,1-0.3,1.5-0.4c0.1,0,0.2,0.1,0.3,0.1c0.3,0,0.5-0.1,0.6-0.4c0,0,0,0,0,0l0,0 c0,0,0,0,0,0c0.4-0.1,0.8-0.2,1.3-0.3c0,0,0,0,0.1,0c0.2,0,0.3,0,0.5,0c0.4,0,0.7-0.2,0.8-0.7c1.1-0.4,2.2-0.8,3.3-1.3 c0.2,0.1,0.4,0.1,0.6,0c0.1,0,0.2-0.1,0.2-0.1c0.1-0.1,0.1-0.1,0.2-0.2c0-0.1,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.2,0 c0.6,0.2,1,0.2,1.4,0c0.2-0.1,0.3-0.2,0.5-0.4c0.1-0.2,0.2-0.4,0.3-0.6c1.2-0.5,2.4-1,3.7-1.6c3.7-1.6,7.3-3.3,11.1-4.4 c11.2-3.4,21.5-7.9,30.2-14.9c1.8-0.4,2.9-1.2,3.7-2.4c0.5-0.7,0.8-1.4,1.1-2.2c1.1-0.1,1.7-0.6,2.1-1.1c0.4-0.6,0.6-1.3,0.7-2 c0-0.1,0.1-0.2,0.2-0.3c1.1,0.1,1.4-0.7,1.8-1.3C382.2,61.1,383.8,56.5,382.7,51.4z M9.5,72.3c-0.4-0.9-0.8-2-0.2-2.9 c4.3-6.9,8-14.3,15.9-19c6.6-3.9,13.9-6.9,21.1-10c10.1-4.3,21.1-6,32-8.1c0,0.2,0,0.4,0.1,0.6l0,0c-2.5,0.9-5.1,1.7-7.7,2.6 c-7.7,2.5-15.4,5-22.9,7.9c-10,3.9-18.1,9.9-23.8,17.8c-1.2,1.6-2.5,3.1-3.7,4.6c-5.1,6.3-2.3,11,2.9,16.4c0.3,0.3,0.7,0.7,0.9,1.1 C17.6,81.2,12,78.2,9.5,72.3z M372.5,60.6c-4,6.6-9.6,11.9-16.6,16.1c-4.8,2.9-10.5,5-16.2,6.8c-7.8,2.5-15.1,5.6-22.5,8.6 c-9.3,3.8-19,5.9-29.3,6.8c-14.1,1.2-27.8,3.6-41.6,5.9c-11.4,2-23.2,2.4-34.8,3.6c-13.2,1.4-26.4,0.4-39.6,0.2 c-7.4-0.1-14.8,0.8-22.1,1.2c-6.1,0.4-12.2,0.3-18.3-0.2c-9.2-0.7-18.5-1.3-27.7-2.2c-6.5-0.6-13.1-1.7-19.4-3.4 c-7.5-2-14.9-4-22.4-6c-1.2-0.3-2.3-0.6-3.2-1.3c-0.5-0.2-0.9-0.4-1.5-0.6c0.1,0,0.2-0.1,0.3-0.1c0.7-0.2,1.2,0,1.8,0.2c0,0,0,0,0,0 c8.1,1.1,16.2,2.8,24.4,3.2c1.2,0.1,2.4,0.1,3.5,0.1c1.1,0,3,0.5,3.1-0.6c0.1-1.4-1.8-2-3.3-2c-5,0-9.9-0.5-14.8-1.2 c-10.8-1.6-21.5-3.4-31.6-7.2c-6.9-2.5-12.7-6.4-16.2-12.3c-1.1-1.9-1.2-3.7-0.2-5.7c7.6-14.6,21.3-23.3,38.6-28.9 c15.7-5.1,31.3-10.6,47.6-14.2c11.7-2.6,23.7-4.3,35.3-6.9c20-4.5,40.6-5.7,61.3-6.4c8.5-0.3,16.8-2,25.4-1.3 c19.7,1.6,39.4,2.8,59.1,5.5c10.6,1.5,21.4,2.9,32.1,4c8.4,0.8,16.8,3.3,24.8,6.5c7.4,3,14.1,6.8,20,11.7 C374.7,46.2,376.4,54.2,372.5,60.6z" />
                </svg>
              </span>
            </span>
          </h1>

          {% if item.wysiwyg_editor %}
            <p class="mb-3">
              {{ item.wysiwyg_editor|raw }}
            </p>
          {% endif %}

          {% if item.button_url.url %}
            <a href="{{ item.button_url.url }}" class="btn btn-primary-soft mb-0 p-2 mb-5" {% if item.button_url.blank %} target="_blank" {% endif %}>
              {{ item.button_url.anchor }}
              <i class="bi bi-arrow-down-short ms-2"></i>
            </a>
          {% endif %}
        </div>
      {% endfor %}

      {% for item in  section.right_half_edit_img %}
        {% set thumbnail = get_image(item.thumbnail) %}
        <div class="col-lg-5 col-xl-6 text-center position-relative">

          <figure class="position-absolute top-100 start-0 translate-middle mt-n6 ms-5 ps-5 d-none d-md-block">
            <svg width="297.5px" height="295.9px">
              <path stroke="#F99D2B" fill="none" stroke-width="13" d="M286.2,165.5c-9.8,74.9-78.8,128.9-153.9,120.4c-76-8.6-131.4-78.2-122.8-154.2C18.2,55.8,87.8,0.3,163.7,9"></path>
            </svg>
          </figure>

          <div class="icon-lg bg-primary text-white rounded-4 shadow position-absolute top-0 start-100 translate-middle z-index-9 ms-n4 d-none d-md-block">
            <i class="fas fa-bell"></i>
          </div>

          <div class="p-3 card card-body shadow rounded-4 position-absolute top-0 start-0 translate-middle ms-5 z-index-1 d-none d-xl-block">
            <div class="d-flex justify-content-between">
              <?xml version="1.0" encoding="utf-8"?>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="48" height="48">
                <path fill="#f1bc19" d="M77 12A1 1 0 1 0 77 14A1 1 0 1 0 77 12Z" />
                <path fill="#e6edb7" d="M50 13A37 37 0 1 0 50 87A37 37 0 1 0 50 13Z" />
                <path fill="#f1bc19" d="M83 11A4 4 0 1 0 83 19A4 4 0 1 0 83 11Z" />
                <path fill="#88ae45" d="M87 22A2 2 0 1 0 87 26A2 2 0 1 0 87 22Z" />
                <path fill="#fbcd59" d="M81 74A2 2 0 1 0 81 78 2 2 0 1 0 81 74zM15 59A4 4 0 1 0 15 67 4 4 0 1 0 15 59z" />
                <path fill="#88ae45" d="M25 85A2 2 0 1 0 25 89A2 2 0 1 0 25 85Z" />
                <path fill="#fff" d="M18.5 49A2.5 2.5 0 1 0 18.5 54 2.5 2.5 0 1 0 18.5 49zM79.5 32A1.5 1.5 0 1 0 79.5 35 1.5 1.5 0 1 0 79.5 32z" />
                <g>
                  <path fill="#fed5b3" d="M38,74v-7c0-2.375-0.718-7.138-4-11c-3.238-3.81-6-10-5-15s4-18,17-19s22,2,26,13 c0.962,2.878-0.042,4.042-0.583,5.042l5.292,8.333c0.667,0.875,1.083,3.375-0.583,3.833C74.116,52.761,72,53,72,53l0.833,9.125 C73.042,65.083,72.208,67.833,69,68c-2.996,0.156-8,0-8,0v10" />
                  <path fill="#472b29" d="M61,78.7c-0.387,0-0.7-0.313-0.7-0.7V68c0-0.189,0.077-0.371,0.213-0.503 c0.136-0.131,0.336-0.221,0.509-0.196c0.049,0.002,5.01,0.151,7.942,0c0.973-0.051,1.7-0.363,2.224-0.955 c0.95-1.074,1.04-2.861,0.947-4.172l-0.833-9.11c-0.035-0.379,0.24-0.716,0.619-0.759c0.021-0.003,2.088-0.24,4.018-0.771 c0.287-0.079,0.46-0.251,0.564-0.558c0.241-0.714-0.052-1.782-0.352-2.177l-5.326-8.382c-0.136-0.214-0.146-0.485-0.024-0.709 c0.063-0.115,0.131-0.233,0.203-0.356c0.51-0.876,1.088-1.868,0.332-4.13c-3.538-9.729-11.337-13.594-25.282-12.523 c-12.877,0.99-15.504,14.123-16.367,18.439C28.718,45.979,31.52,52,34.533,55.547C37.605,59.162,38.7,63.833,38.7,67v7 c0,0.387-0.313,0.7-0.7,0.7s-0.7-0.313-0.7-0.7v-7c0-1.008-0.185-6.253-3.833-10.547c-3.333-3.922-6.219-10.264-5.153-15.591 c2.454-12.268,8.386-18.849,17.633-19.561c14.68-1.133,22.916,3.021,26.711,13.459c0.952,2.846,0.136,4.3-0.424,5.262L77.299,48 c0.545,0.711,0.926,2.255,0.531,3.424c-0.25,0.74-0.79,1.259-1.52,1.459c-1.361,0.375-2.752,0.606-3.552,0.723l0.772,8.456 c0.16,2.276-0.288,4.074-1.294,5.212c-0.775,0.876-1.852,1.355-3.2,1.426c-2.344,0.123-5.835,0.059-7.336,0.02V78 C61.7,78.387,61.387,78.7,61,78.7z" />
                </g>
                <g>
                  <path fill="#afabd4" d="M32.084,52.118c-0.901-0.252-1.77-0.606-2.594-1.057c0.457-1.491,0.12-2.835-0.992-3.917 c-0.755-0.733-1.628-1.105-2.596-1.105c-0.415,0-0.845,0.07-1.286,0.21c-0.461-0.816-0.825-1.676-1.086-2.567 c1.417-0.74,2.143-1.95,2.105-3.528c-0.036-1.513-0.777-2.661-2.153-3.351c0.25-0.896,0.601-1.761,1.048-2.581 c0.457,0.149,0.903,0.226,1.333,0.226c0.995,0,1.888-0.395,2.654-1.173c1.093-1.111,1.393-2.473,0.883-3.966 c0.803-0.45,1.665-0.81,2.571-1.076c0.714,1.424,1.889,2.172,3.429,2.172c0.118,0,0.239-0.005,0.362-0.014 c1.431-0.104,2.509-0.853,3.146-2.174c0.893,0.254,1.755,0.609,2.576,1.063c-0.503,1.518-0.188,2.888,0.931,3.99 c0.762,0.752,1.643,1.134,2.618,1.134c0.438,0,0.891-0.079,1.354-0.236c0.354,0.646,0.844,1.814,1.059,2.572 c-1.436,0.736-2.173,1.949-2.14,3.539c0.031,1.494,0.76,2.64,2.117,3.343c-0.258,0.894-0.618,1.756-1.075,2.574 c-0.439-0.134-0.867-0.201-1.277-0.201c-1.102,0-2.063,0.47-2.857,1.396c-0.893,1.041-1.135,2.29-0.713,3.641 c-0.817,0.452-1.685,0.812-2.588,1.071c-0.688-1.312-1.948-2.081-3.447-2.081C34.023,50.039,32.76,50.846,32.084,52.118z M35.459,37.219c-1.621,0-2.945,1.313-2.953,2.929c-0.003,0.788,0.301,1.53,0.857,2.089c0.555,0.559,1.296,0.868,2.085,0.872 c1.614-0.009,2.908-1.265,2.954-2.858c0.023-0.799-0.269-1.556-0.822-2.13c-0.552-0.574-1.294-0.894-2.091-0.901 C35.487,37.219,35.461,37.219,35.459,37.219z" />
                  <path fill="#472b29" d="M39.242,29.053c0.484,0.163,0.958,0.359,1.42,0.587c-0.331,1.547,0.098,2.981,1.261,4.129 c0.884,0.874,1.96,1.335,3.109,1.335c0.326,0,0.658-0.037,0.993-0.11c0.204,0.436,0.422,0.969,0.584,1.425 c-1.335,0.88-2.038,2.221-2.003,3.874c0.032,1.548,0.726,2.809,1.983,3.647c-0.168,0.493-0.369,0.976-0.604,1.445 c-0.31-0.06-0.615-0.09-0.914-0.09c-1.297,0-2.468,0.567-3.389,1.639c-0.919,1.071-1.257,2.365-0.994,3.732 c-0.474,0.235-0.963,0.438-1.465,0.606c-0.854-1.225-2.218-1.952-3.76-1.952c-0.006,0-0.057,0-0.063,0 c-1.461,0.019-2.794,0.765-3.632,1.971c-0.503-0.165-0.991-0.364-1.468-0.598c0.288-1.521-0.16-2.928-1.315-4.051 c-0.877-0.854-1.944-1.305-3.084-1.305c-0.304,0-0.614,0.032-0.928,0.095c-0.236-0.466-0.439-0.945-0.608-1.436 c1.318-0.883,2.008-2.219,1.969-3.862c-0.037-1.568-0.745-2.833-2.021-3.663c0.161-0.488,0.355-0.966,0.58-1.43 c0.328,0.069,0.651,0.104,0.969,0.104c1.173,0,2.263-0.479,3.153-1.383c1.134-1.153,1.545-2.577,1.209-4.101 c0.457-0.228,0.931-0.426,1.42-0.594c0.854,1.322,2.153,2.034,3.756,2.034c0.134,0,0.272-0.005,0.413-0.016 C37.287,30.98,38.47,30.269,39.242,29.053 M35.452,43.808c0.002,0,0.005,0,0.007,0c1.986-0.011,3.586-1.565,3.643-3.539 c0.028-0.988-0.333-1.923-1.017-2.634c-0.683-0.71-1.603-1.106-2.624-1.116c-2.006,0-3.645,1.626-3.654,3.625 c-0.009,2.011,1.623,3.655,3.638,3.664C35.447,43.808,35.449,43.808,35.452,43.808 M38.493,27.387 c-0.465,1.354-1.368,2.202-2.783,2.306c-0.106,0.008-0.209,0.012-0.31,0.012c-1.502,0-2.49-0.853-3.029-2.304 c-1.376,0.336-2.658,0.869-3.848,1.613c0.655,1.382,0.57,2.675-0.506,3.769c-0.65,0.661-1.377,0.965-2.155,0.965 c-0.525,0-1.074-0.138-1.638-0.398c-0.729,1.2-1.253,2.484-1.567,3.859c1.399,0.513,2.243,1.473,2.278,2.961 c0.037,1.548-0.798,2.562-2.235,3.12c0.331,1.364,0.871,2.633,1.615,3.822c0.546-0.243,1.077-0.373,1.586-0.373 c0.758,0,1.468,0.286,2.108,0.908c1.09,1.06,1.222,2.341,0.619,3.725c1.2,0.73,2.478,1.252,3.844,1.567 c0.02-0.041,0.036-0.065,0.046-0.091c0.494-1.288,1.616-2.111,2.899-2.127c0.015,0,0.03,0,0.045,0c1.352,0,2.47,0.763,2.99,2.056 c0.039,0.096,0.081,0.126,0.141,0.126c0.03,0,0.064-0.007,0.104-0.017c1.237-0.313,2.403-0.794,3.498-1.447 c0.06-0.036,0.117-0.077,0.164-0.108c-0.557-1.255-0.506-2.447,0.384-3.484c0.676-0.788,1.462-1.151,2.326-1.151 c0.504,0,1.034,0.124,1.585,0.358c0.738-1.193,1.27-2.465,1.594-3.827c-1.379-0.528-2.213-1.473-2.244-2.962 c-0.033-1.57,0.817-2.564,2.24-3.116c-0.087-0.857-1.085-3.268-1.591-3.842c-0.556,0.26-1.1,0.398-1.623,0.398 c-0.762,0-1.48-0.293-2.126-0.931c-1.106-1.092-1.193-2.399-0.551-3.794C41.156,28.24,39.869,27.706,38.493,27.387L38.493,27.387 z M35.451,42.408c-1.247-0.006-2.251-1.016-2.245-2.258c0.006-1.238,1.009-2.232,2.255-2.232c0.007,0,0.015,0,0.022,0 c1.255,0.012,2.256,1.052,2.219,2.311C37.669,41.4,36.717,42.401,35.451,42.408L35.451,42.408z" />
                  <path fill="#7777ab" d="M43.331,38.158c-1.107-4.35-5.532-6.979-9.882-5.871c-4.35,1.107-6.979,5.532-5.871,9.882 c1.107,4.35,5.532,6.979,9.882,5.871C41.81,46.933,44.439,42.508,43.331,38.158z M37.056,46.453 c-3.474,0.884-7.007-1.215-7.891-4.689c-0.884-3.474,1.215-7.007,4.689-7.891c3.474-0.884,7.007,1.215,7.891,4.689 C42.629,42.036,40.53,45.569,37.056,46.453z" />
                  <path fill="#472b29" d="M28.874 40.413c-.138 0-.25-.112-.25-.25 0-3.767 3.064-6.83 6.83-6.83 1.013 0 1.989.217 2.901.646.125.059.179.208.12.333-.059.126-.208.176-.333.12-.845-.397-1.75-.599-2.688-.599-3.49 0-6.33 2.84-6.33 6.33C29.124 40.301 29.012 40.413 28.874 40.413zM35.454 46.993c-3.001 0-5.62-1.922-6.518-4.782-.041-.132.032-.272.164-.313.133-.041.272.032.313.163.832 2.651 3.259 4.433 6.041 4.433 1.429 0 2.778-.465 3.901-1.345.109-.086.266-.067.351.042.085.108.066.266-.042.351C38.452 46.491 36.996 46.993 35.454 46.993zM40.596 44.519c-.055 0-.11-.018-.156-.055-.108-.086-.125-.244-.039-.352.905-1.131 1.383-2.496 1.383-3.949 0-.796-.146-1.571-.433-2.306-.05-.128.013-.273.142-.323.13-.049.274.014.324.142.31.792.467 1.629.467 2.487 0 1.545-.53 3.059-1.492 4.262C40.742 44.486 40.669 44.519 40.596 44.519z" />
                  <g>
                    <path fill="#472b29" d="M40.875,36.683c-0.079,0-0.157-0.038-0.206-0.108c-0.343-0.496-0.754-0.941-1.223-1.322 c-0.107-0.088-0.124-0.245-0.036-0.353c0.087-0.107,0.245-0.121,0.352-0.036c0.506,0.412,0.949,0.892,1.318,1.428 c0.079,0.113,0.05,0.269-0.063,0.348C40.974,36.668,40.924,36.683,40.875,36.683z" />
                  </g>
                </g>
                <g>
                  <path fill="#fed5b3" d="M53.751,65.53c1.229,0.659,2.847,1.306,4.833,1.637" />
                  <path fill="#472b29" d="M58.584,67.667c-0.027,0-0.055-0.002-0.083-0.007c-1.769-0.295-3.447-0.863-4.987-1.689 c-0.243-0.13-0.335-0.434-0.204-0.677c0.13-0.242,0.433-0.336,0.677-0.204c1.444,0.774,3.018,1.307,4.679,1.584 c0.272,0.045,0.457,0.303,0.411,0.575C59.036,67.494,58.824,67.667,58.584,67.667z" />
                </g>
                <g>
                  <path fill="#fed5b3" d="M50.917,63.5c0,0,0.375,0.398,1.107,0.94" />
                  <path fill="#472b29" d="M52.023,64.94c-0.103,0-0.208-0.032-0.297-0.098c-0.76-0.563-1.158-0.982-1.174-1 c-0.189-0.201-0.179-0.517,0.021-0.706c0.2-0.188,0.517-0.18,0.706,0.02c0.004,0.004,0.361,0.379,1.042,0.882 c0.222,0.165,0.269,0.478,0.104,0.7C52.328,64.87,52.177,64.94,52.023,64.94z" />
                </g>
              </svg>
            </div>
          </div>

          <!-- Student review -->
          <div class="position-absolute top-100 start-100 translate-middle z-index-1 ms-n6 mt-n5 d-none d-xxl-block">
            <div class="card card-body shadow p-4 rounded-3 d-inline-block position-relative z-index-1">
              <!-- Icon -->
              <div class="icon-lg bg-success rounded-circle position-absolute top-100 start-100 translate-middle">
                <i class="bi bi-chat-left-text text-white"></i>
              </div>

              {% if item.right_half_edit_img %}

                {% for right_half in item.right_half_edit_img %}
                  <ul class="avatar-group mb-2">
                    {% if right_half.avatar_gallery %}
                      {% for avatar in right_half.avatar_gallery %}
                        {% set avatar_img = get_image(avatar) %}
                        {% if avatar_img %}
                          <li class="avatar avatar-sm">
                            <img class="avatar-img rounded-circle" src="{{ avatar_img.src | resize(36,36) }}" alt="{{ avatar_img.alt }}" />
                          </li>
                        {% endif %}
                      {% endfor %}
                    {% endif %}

                    <li class="avatar avatar-sm">
                      <div class="avatar-img rounded-circle bg-primary">
                        <span class="text-white position-absolute top-50 start-50 translate-middle">
                          +
                        </span>
                      </div>
                    </li>
                  </ul>

                  <h6 class="mb-1 text-start">
                    {{ right_half.no_students }}
                  </h6>
                  {% set rating =  right_half.average_review  | round(0, 'floor') %}

                  {% if rating > 1 %}
                    {% set full_stars = rating|round(0, 'floor') %}
                    {% set half_star = (rating - full_stars) >= 0.5 %}

                    <ul class="list-inline mb-0">
                      <li class="list-inline-item me-1 h6 mb-0">
                        {{ right_half.average_review }}
                      </li>
                      {% for i in 1..full_stars %}
                        <li class="list-inline-item me-0 small">
                          <i class="fas fa-star text-warning"></i>
                        </li>
                      {% endfor %}
                      {% if half_star %}
                        <li class="list-inline-item me-0 small">
                          <i class="fas fa-star-half-alt text-warning"></i>
                        </li>
                      {% endif %}
                    </ul>

                  {% endif %}

                {% endfor %}
              {% endif %}

            </div>
          </div>

          <div class="position-relative">
            <div class="bg-warning rounded-4 border border-white border-5 h-200px h-sm-300px shadow"></div>
            {% if thumbnail is not empty %}
              <img src="{{ thumbnail.src |resize(306,314) }}" class="position-absolute bottom-0 start-50 translate-middle-x" alt="{{ thumbnail.alt }}" />
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
