<section>
    <div class="container">
        <!-- Title -->
        <div class="row mb-4">
            <div class="d-md-flex justify-content-md-between align-items-center">
                <h2 class="mb-2 mb-md-0">
                    <div class="d-inline-block text-warning py-2 rounded-pill mb-3">
                        {{ section.posts_feed_headline }}
                    </div>
                    {{ section.posts_feed_subheadline }}
                </h2>
                <div>
                    {% set more_url = section.posts_feed_more_url %}

                    {% if more_url.url %}
                        {% if section.posts_feed_more_info %}
                            <span class="me-2">
                                {{ section.posts_feed_more_info }}
                            </span>
                        {% endif %}
                        <a href="{{ more_url.url }}" class="btn btn-sm btn-primary-soft mb-0" {% if more_url.blank %} target="_blank" {% endif %}>
                            {{ more_url.anchor }}
                            <i class="fas fa-angle-right ms-2"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% include "layouts/home-page/post-feed/" ~ section.choose_feed_layout ~ "-feed.twig" ignore missing %}
    </div>
</section>
