<section>
    <div class="container">
        <!-- Title -->
        <div class="row mb-4">
            <div class="d-md-flex justify-content-md-between align-items-center">
                <h2 class="mb-2 mb-md-0">
                    <div class="d-inline-block text-warning py-2 rounded-pill mb-3">
                        {{ section.posts_feed_headline }}
                    </div>
                    {{ section.posts_feed_subheadline }}
                </h2>
                <div>
                    {% set more_url = section.posts_feed_more_url %}

                    {% if more_url.url %}
                        {% if section.posts_feed_more_info %}
                            <span class="me-2">
                                {{ section.posts_feed_more_info }}
                            </span>
                        {% endif %}
                        <a href="{{ more_url.url }}" class="btn btn-sm btn-primary-soft mb-0" {% if more_url.blank %} target="_blank" {% endif %}>
                            {{ more_url.anchor }}
                            <i class="fas fa-angle-right ms-2"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {{ dump(category_sections) }}
        {% for section in category_sections %}
            <h2>
                Posts in
                {{ section.category.name }}
            </h2>
            {% for post in section.posts %}
                <article>
                    <h3>
                        {{ post.title }}
                    </h3>
                    <div>
                        {{ post.content }}
                    </div>
                </article>
            {% endfor %}
        {% endfor %}

        <div class="row g-4">
            <div class="col-md-6 col-lg-4">
                <!-- Card item START -->
                <div class="card bg-transparent">
                    <div class="overflow-hidden rounded-3">
                        <img src="{{ site.theme.link }}/assets/images/news/virtual-reality-learning.webp" class="card-img" alt="Card image">
                            <!-- Overlay -->
                            <div class="bg-overlay bg-dark opacity-4"></div>
                            <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                                <!-- badge -->
                                <a href="https://www.irishtimes.com/topics/topics-7.1213540?article=true&tag_person=Brendan+Kavanagh" class="badge bg-danger text-white">
                                    irishtimes
                                </a>
                            </div>
                        </div>
                        <!-- Card body -->
                        <div class="card-body px-3">
                            <!-- Title -->
                            <h5 class="card-title">
                                <a href="#">
                                    Olive Group rolls out new online training
                                    platform
                                </a>
                            </h5>
                            <p class="text-truncate-2">
                                Irish-founded educational technology group Olive has launched
                                    a new online training platform that it expects will add an extra €8 million to
                                    company revenues by year-end 2022.
                                    The company, founded by entrepreneur Brendan Kavanagh in 2006, has invested €5
                                    million in My Virtual Tutor, which allows for remote staff learning, upskilling and
                                    regulatory compliance.
                                Olive Group has gone live with
                            </p>
                            <!-- Info -->
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-0">
                                    <a href="https://www.irishtimes.com/topics/topics-7.1213540?article=true&tag_person=Brendan+Kavanagh">
                                        Brendan
                                        Kavanagh
                                    </a>
                                </h6>
                                <span class="small">
                                    March 30, 2020
                                </span>
                            </div>
                        </div>
                    </div>
                <!-- Card item END -->
                </div>

                <div class="col-md-6 col-lg-8">
                    <div class="row g-4">
                        <div class="col-lg-7">
                            <!-- Card item START -->
                            <div class="card bg-light p-3 mb-4">
                                <div class="card-body">
                                    <!-- Badge -->
                                    <a href="#" class="badge bg-success text-white mb-2">
                                        Covid-9
                                    </a>
                                    <!-- Title -->
                                    <h5 class="card-title">
                                        <a href="#">
                                            Covid-19 and the college experienced
                                        </a>
                                    </h5>
                                    <p class="text-truncate-2">
                                        Rooms oh fully taken by worse do. Points afraid but
                                            may end law.Points afraid
                                        but may end law.
                                    </p>
                                    <!-- Info -->
                                    <div class="d-flex justify-content-between">
                                        <h6 class="mb-0">
                                            <a href="#">
                                                Covid-9
                                            </a>
                                        </h6>
                                        <span class="small">
                                            November 8, 2021
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Card item END -->

                            <!-- Card item START -->
                            <div class="card bg-transparent">
                                <div class="overflow-hidden rounded-3">
                                    <img src="assets/images/news/digital-business.webp" alt="Card image">
                                        <!-- Overlay -->
                                        <div class="bg-overlay bg-dark opacity-4"></div>
                                        <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                                            <!-- badge -->
                                            <a href="#" class="badge bg-info text-white">
                                                OliveGroup
                                            </a>
                                        </div>
                                    </div>
                                    <!-- Card body -->
                                    <div class="card-body px-3">
                                        <!-- Title -->
                                        <h5 class="card-title">
                                            <a href="#">
                                                Digital Business Ireland partners with Olive
                                                Group
                                            </a>
                                        </h5>
                                        <p class="text-truncate-2">
                                            Commenting on the partnership, Lorraine Higgins,
                                            Chief Executive of Digital Business Ireland
                                        </p>

                                        <!-- Info -->
                                        <div class="d-flex justify-content-between">
                                            <h6 class="mb-0">
                                                <a href="#">
                                                    Digital Business
                                                </a>
                                            </h6>
                                            <span class="small">
                                                August 17, 2020
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            <!-- Card item END -->
                            </div>

                            <div class="col-lg-5">
                                <!-- Card item START -->
                                <div class="card bg-transparent">
                                    <div class="overflow-hidden rounded-3">
                                        <img src="assets/images/news/RAI.webp" class="card-img-top" alt="course image">
                                            <!-- Overlay -->
                                            <div class="bg-overlay bg-dark opacity-2 rounded-2"></div>
                                            <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                                                <!-- badge -->
                                                <a href="https://www.rai.ie/" class="badge bg-purple text-white">
                                                    www.rai.ie
                                                </a>
                                            </div>
                                        </div>
                                        <!-- Card body -->
                                        <div class="card-body px-3">
                                            <!-- Title -->
                                            <h5 class="card-title">
                                                <a href="#">
                                                    RAI and Olive Learning partner to launch
                                                    digital training packages for RAI members
                                                </a>
                                            </h5>
                                            <p class="text-truncate-2">
                                                The Restaurant Association of Ireland and Olive
                                                    Learning have partnered to
                                                    launch a new online training platform, available for purchase by all
                                                association members.
                                            </p>
                                            <!-- Info -->
                                            <div class="d-flex justify-content-between">
                                                <h6 class="mb-0">
                                                    <a href="https://www.rai.ie/">
                                                        www.rai.ie
                                                    </a>
                                                </h6>
                                                <span class="small">
                                                    November 8, 2021
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                <!-- Card item END -->
                                </div>
                            </div>
                        <!-- Row END -->
                        </div>
                    <!-- Row END -->
                    </div>
                </div>
            <!-- Row END -->
            </div>
        </section>
        