<section class="bg-light position-relative">
    <!-- SVG Image -->
    <figure class="position-absolute start-0 bottom-0 mb-0">
        <img src="{{ site.theme.link }}/assets/images/element/10.svg" class="h-200px" alt="" />
    </figure>

    <div class="container">
        <!-- Title -->
        <div class="row mb-4">
            <div class="col-lg-8 mx-auto text-center">
                <h2>
                    {{ section.testimonial_headline }}
                </h2>
                <p class="mb-0">
                    {{ section.testimonial_sub_headline }}
                </p>
            </div>
        </div>

        <!-- Feedback START -->
        <div class="row">
            <!-- Slider START -->
            <div class="tiny-slider arrow-round arrow-creative arrow-dark arrow-hover">
                <div class="tiny-slider-inner" data-autoplay="true" data-edge="5" data-arrow="true" data-dots="false" data-items="4" data-items-xl="3" data-items-md="2" data-items-xs="1">

                    <!-- Feedback item -->
                    <div>
                        <div class="bg-body text-center p-4 rounded-3 border border-1 position-relative">
                            <!-- member -->
                            <div class="member member-lg mb-3">
                                <img class="member-img rounded-circle" src="{{ site.theme.link }}/assets/images/testimonial/Geraldine-King.webp" alt="member" />
                            </div>
                            <!-- Title -->
                            <h6 class="mb-2">
                                – Adrian Cummins
                                <br>
                                    <small>
                                        Restaurant Association of Ireland
                                    </small>
                                </h6>
                                <!-- Content -->
                                <blockquote class="mt-1">
                                    <p>
                                        <span class="me-1 small">
                                            <i class="fas fa-quote-left"></i>
                                        </span>
                                        The NRF and Olive Group’s missions are aligned to improve the accessibility
                                        of education and training to the NRF’s members.
                                        <span class="ms-1 small">
                                            <i class="fas fa-quote-right"></i>
                                        </span>
                                    </p>
                                </blockquote>
                            </div>
                        </div>

                        <!-- Feedback item -->
                        <div>
                            <div class="bg-body text-center p-4 rounded-3 border border-1 position-relative">
                                <!-- member -->
                                <div class="member member-lg mb-3">
                                    <img class="member-img rounded-circle" src="{{ site.theme.link }}/assets/images/testimonial/Eimhear-ODalaigh-.webp" alt="member" />
                                </div>
                                <!-- Title -->
                                <h6 class="mb-2">
                                    – Eimhear O’Dalaigh
                                    <br>
                                        <small>
                                            Training Consultant
                                        </small>
                                    </h6>
                                    <!-- Content -->
                                    <blockquote class="mt-1">
                                        <p>
                                            <span class="me-1 small">
                                                <i class="fas fa-quote-left"></i>
                                            </span>
                                            Olive’s online training platform is a world class learning environment,
                                            low-cost and very easy-to-use.
                                            <span class="ms-1 small">
                                                <i class="fas fa-quote-right"></i>
                                            </span>
                                        </p>
                                    </blockquote>
                                </div>
                            </div>

                            <!-- Feedback item -->
                            <div>
                                <div class="bg-body text-center p-4 rounded-3 border border-1 position-relative">
                                    <!-- member -->
                                    <div class="member member-lg mb-3">
                                        <img class="member-img rounded-circle" src="{{ site.theme.link }}/assets/images/testimonial/Adrian-Cummins.webp" alt="member" />
                                    </div>
                                    <!-- Title -->
                                    <h6 class="mb-2">
                                        – Adrian Cummins
                                        <br>
                                            <small>
                                                Restaurant Association of Ireland
                                            </small>
                                        </h6>
                                        <!-- Content -->
                                        <blockquote class="mt-1">
                                            <p>
                                                <span class="me-1 small">
                                                    <i class="fas fa-quote-left"></i>
                                                </span>
                                                We used to face considerable high prices for compliance training. However,
                                                    now with Olive’s high-quality, cost-effective and content-rich online
                                                    training, they helped us to achieve greater levels of compliance than we
                                                thought possible.
                                                <span class="ms-1 small">
                                                    <i class="fas fa-quote-right"></i>
                                                </span>
                                            </p>
                                        </blockquote>
                                    </div>
                                </div>

                            </div>
                        </div>
                    <!-- Slider START -->
                    </div>
                <!-- Feedback END -->
                </div>
            </section>
            <!-- =======================
            Client feedback END -->
            