<section class="bg-light position-relative">
    <figure class="position-absolute start-0 bottom-0 mb-0">
        <img src="{{ site.theme.link }}/assets/images/element/10.svg" class="h-200px" alt="" />
    </figure>

    <div class="container">
        <div class="row mb-4">
            <div class="col-lg-8 mx-auto text-center">
                <h2>
                    {{ section.testimonial_headline }}
                </h2>
                <p class="mb-0">
                    {{ section.testimonial_sub_headline }}
                </p>
            </div>
        </div>

        {% if section.testimonials is not empty %}
            <div class="row">

                <div class="tiny-slider arrow-round arrow-creative arrow-dark arrow-hover">
                    <div class="tiny-slider-inner" data-autoplay="true" data-edge="5" data-arrow="true" data-dots="false" data-items="4" data-items-xl="3" data-items-md="2" data-items-xs="1">

                        {% for testimonial in section.testimonials %}
                            {% set post = get_post(testimonial.id) %}
                            <div>
                                <div class="bg-body text-center p-4 rounded-3 border border-1 position-relative">
                                    {% if post.thumbnail is not null %}
                                        <div class="member member-lg mb-3">
                                            <img class="member-img rounded-circle" src="{{ post.thumbnail.src|resize(64,64) }}" alt="{{ post.thumbnail.alt }}" />
                                        </div>
                                    {% endif %}
                                    <h6 class="mb-2">
                                        {{ post.title }}
                                        <br>
                                            <small>
                                                {{ post.meta('designation') }}
                                            </small>
                                        </h6>
                                        {% if post.meta('feedback')|raw %}
                                            <blockquote class="mt-1">
                                                <p>
                                                    <span class="me-1 small">
                                                        <i class="fas fa-quote-left"></i>
                                                    </span>
                                                    {{ post.meta('feedback') }}
                                                    <span class="ms-1 small">
                                                        <i class="fas fa-quote-right"></i>
                                                    </span>
                                                </p>
                                            </blockquote>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
    