{% block html_head_container %}

	{% include 'html-header.twig' %}
	{% block head %}{% endblock %}
</head>{% endblock %}<body	class="{{ body_class }}"	data-template="base.twig">
{{ function('wp_body_open') }}

{% block top_header %}

	{% if is_front_page %}
		{% include 'top-header.twig' %}
	{% endif %}
{% endblock %}

<header	class="navbar-light header-static navbar-sticky">
	{% block header %}

		<nav	class="navbar navbar-expand-xl">
			<div	class="container">
				<a	class="navbar-brand me-0"	href="{{ site.url }}">
					<img	class="light-mode-item navbar-brand-item"	src="{{ theme.link }}/assets/images/logo-dark-36.webp"	alt="logo" />
				</a>

				<button	class="navbar-toggler ms-auto"	type="button"	data-bs-toggle="collapse"	data-bs-target="#navbarCollapse"	aria-controls="navbarCollapse"	aria-expanded="false"	aria-label="Toggle navigation">
					<span	class="navbar-toggler-animation">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</button>

				<div	class="navbar-collapse collapse"	id="navbarCollapse">
					{% include "menu.twig" with {'items': menu.get_items} %}
				</div>
			</div>
		</nav>

	{% endblock %}
</header>
<main>
	{% if title %}
		<h1>
			{{ title }}
		</h1>
	{% endif %}
	<div	class="wrapper">
		{% block content %}
			Sorry, no content
		{% endblock %}
	</div>
	{% if sidebar %}
		<aside	class="layout-sidebar">
			{{ sidebar }}
		</aside>
	{% endif %}
</main>

{% block footer %}

	{% if is_front_page %}
		{% include 'footer-homepage.twig' %}
	{% endif %}

	{% include 'footer.twig' %}
	{{ function('wp_footer') }}
{% endblock %}</body></html>